numpy>=1.26
scipy>=1.11
pandas>=2.1
joblib>=1.3

#Machine learning 
scikit-learn>=1.4

#NLP / embeddings
sentence-transformers>=2.6.1
torch>=2.2
transformers>=4.39

#Datasets / preprocessing
datasets>=2.19

#Classic NLP
nltk>=3.8.1
